version: '1.0.{build}'

image: Visual Studio 2017

platform:
    - x64

configuration:
    - Debug

install:
    - git submodule update --init --recursive

before_build:
    - cmake -G "Visual Studio 15 2017 Win64" .

build:
    project: '$(APPVEYOR_BUILD_FOLDER)\webcam_solution.sln'

test_script:
    - %APPVEYOR_BUILD_FOLDER%\test\%CONFIGURATION%\webcam_tests.exe --gtest_output=xml:tests.xml

on_finish:
    - ps: (new-object net.webclient).UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\tests.xml))
